<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" debug="false">
    <property name="logPattern"  value="%d [%thread] [%X{MSG_ID}] %-5level %logger{20}.%M[%L] %msg%n"/>
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${logPattern}</pattern>
            <charset>UTF-8</charset>
        </encoder>
    </appender>
    <root level="info">
        <appender-ref ref="CONSOLE" />
    </root>
</configuration>